.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 40px;
    color: rgb(99, 99, 129);
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT';
    cursor: pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}


.navbar-search-icon img{
    width: 35px;
}
.navbar-search-icon:hover{
    cursor: pointer;
}

.navbar-right1{
    width: 40px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: rgb(34, 81, 121);
    border: 1px solid rgb(34, 81, 121);
    color: white;
    
}

.navbar-menu .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(49, 49, 94);
}


.navbar-right{
    position: relative;
}

.navbar-right .dot{
    position: absolute;
    min-width: 8px;
    min-height: 8px;
    background-color: rgb(17, 17, 122);
    border-radius: 5px;
    top: -1px;
    right: 150px;
}

@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
    .navbar-right .dot{
        min-width: 5px;
        min-height: 5px;
        right: 127px;
        top: 2px;
    }
}

@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:890px) {
    .navbar-menu{
        display: none;
    }
    .navbar-right button{
        padding: 5px 17px;
        font-size: 12px;
    }
    .navbar-right .dot{
        min-width: 5px;
        min-height: 5px;
        right: 88px;
    }
}

@media (max-width:750px) {
    .navbar-menu{
        display: none;
    }
    .navbar-right button{
        padding: 5px 17px;
        font-size: 12px;
    }
}

@media (max-width:390px) {
    .navbar-menu{
        display: none;
    }
    .navbar-right button{
        padding: 5px 12px;
        font-size: 10px;
    }
    .navbar .logo{
        width: 90px;
    }
    .navbar-search-icon{
        width: 15px;
    }
    .navbar-right1{
        width: 20px;
    }
    .navbar-right .dot{
        min-width: 5px;
        min-height: 5px;
    }
}

@media (max-width:450px) {
    .navbar-menu{
        display: none;
    }
    .navbar-right button{
        padding: 5px 12px;
        font-size: 10px;
    }
    .navbar .logo{
        width: 90px;
    }
    .navbar-search-icon{
        width: 15px;
    }
    .navbar-right1{
        width: 20px;
    }
    .navbar-right .dot{
        min-width: 5px;
        min-height: 5px;
        right: 68px;
    }
}